/* ==========================================
                RESET
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:var(--body-font);

    background:var(--secondary);

    color:var(--text);

    overflow-x:hidden;

}

img{

    width:100%;

    display:block;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

button{

    border:none;

    outline:none;

    cursor:pointer;

    background:none;

    font-family:inherit;

}

input{

    outline:none;

    border:none;

    font-family:inherit;

}

.container{

    width:min(1280px,92%);

    margin:auto;

}